@media screen and (max-width: 1024px){
    .cookbook-content {
        width: 70%;
    }
    
    .header-section {
        margin-top: 50px;
    }
    
    .demo2 {
        width: 165px;
        font-size: 18px;
    }

    .contact-info {
        flex-direction: column;
        gap: 40px;
    }
}

@media (min-width: 650px) and (max-width: 800px){
    section.cookbook {
        padding-left: 5%;
    }
    
    .cookbook-content {
        width: 80%;
    }
    
    .bottom-section {
        flex-direction: column;
    }
    
    .bottom-nav {
        padding-right: 0px;
    }

    .contact-info {
        flex-direction: column;
        gap: 40px;
    }

    h1 {
        margin-top: 160px;
    }

    .text {
        width: 100%;
    }

}

@media (min-width: 300px) and (max-width: 640px){
    
    section.cookbook {
        padding-left: 5%;
        gap: 10px;
    }
    
    .cookbook-content {
        width: 100%;
    }
    
    p.cookbook-text {
        font-size: 12px;
        margin-top: 8px;
        width: 90%;
    }
    
    a.cookbook-link {
        font-size: 9px;
        padding-right: 5px;
    }
    
    i.qode_icon_font_awesome_5.fa5.fa.fa-caret-right.qode_button_icon_element {
        padding-left: 0px; 
    }
    
    a.quick-help {
        font-size: 12px;
    }
    
    a.email-at{
        font-size: 12px;  
    }
    
    .email-link {
        padding-top: 0px;
        
    }

    .contact-section {
        background-size: 220%;
    }

    .contact-info {
        flex-direction: column;
        gap: 40px;
    }

    .form1 {
        flex-direction: column;
        align-items: center;
    }

    section.footer-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .bottom-section {
        display: flex;
        padding-top: 90px;
        width: 100%;
        align-items: center;
        gap: 30px;
        flex-direction: column;
    }
    
    .bottom-nav {
        padding-right: 0px;
    }
    
    .demo2 {
        width: 165px;
        font-size: 18px;
    }

    h1 {
        margin-top: 160px;
    }

    .text {
        width: 100%;
    }

}

@media screen and (max-width: 350px){
    .form1 {
        flex-direction: column;
        align-items: center;
    }
    
}






